

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* footer */
.footer {
  background-color: #113C73;
  color: whitesmoke;
}

.footer p {
  text-align: center;
  margin-top: 1rem;
}

.container.footer {
  padding: 20px;
}

.derechos{
  padding: 20px;
}

/* -------------------------------TITULOS */

.titulo-dashboard {
  font-size: 8rem;
  color: #F1C40F; 
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2); 
  font-weight: bold; 
  text-align: center;
  z-index: 2;
  position: relative;
  height: 40%;
}

.titulo-dashboard span {
  color: #ffffff;
  top: 0; 
  left: 15%; 
}

.dashboard-section {
  background-image: url('../img/salas_vip/fondo-servicios.jpg'); 
  background-size: cover; 
  background-position: bottom; 
  padding: 50px 0; 
  position: relative; 
}

.dashboard-section::before {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.linea-amarilla {
  height: 30px; 
  background-color: #F1C40F; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  z-index: 1;
}

.dashboard-menu {
  padding-top: 20px;
}

/* footer de dashboard */

.dashboard-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-section,
.dashboard-menu,
Routes {
  flex: 1; 
}

.footer {
  background-color: #002855; 
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* imagenes tarjetas */

.card-img-top {
  width: 100%;
}